<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Email | Somos Carmen</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<style>
		body {
			font-family: Helvetica,Arial,sans-serif;
		}
		.container {			
			background-color: #f7f7f7;
		}
		.wrapper {
			background-color: #FFF;
			max-width: 600px;
			margin: 0 auto;
			text-align: center;
		}
		.logo {
			padding: 10px 0;
			border-bottom: 1px solid #dee2e6;
		}
		h2 {
			color: #003761;
			font-weight: normal;
		}
		.soon {
			color: #505050;
		}
		.last {
			padding-bottom: 20px;
		}
		ul {
			list-style: none;
		}
		.link-help {
			color: gray;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="wrapper">
			<div>
				<h2>Buen día! <strong>{{ username }}</strong></h2>
				<p class="soon">¡DITRA se preocupa por la integridad de la información de sus trabajadores! Por lo consiguiente te compartimos un link donde podrás encontrar la lista de nóminas.</p>

				Nominas de los siguientes periodos:
				<ul>
				{% for report_obj in report_lst %}
					<li>
						Nómina: <strong>{{ report_obj.no_paysheet }}</strong> ({{ report_obj.period_payment }}) |
						<a href="http://{{ host }}{{ report_obj.get_url_report_pdf }}?print=True">Descargar</a>
					</li>
				{% endfor %}					
				</ul>

				Para visualizar la lista de sus nóminas:
				<a href="{{ report_url }}" target="_blank">Link para ver nóminas</a>
				<br>
				<br>
				<br>
				<small class="link-help">Link de visualización: <strong>{{ report_url }}</strong></small>
			</div>
			<div class="last">
				<br>
				<p class="soon"><strong>Síguenos en:</strong></p>
				<p><a href="#" target="_blank">Dudas o aclaraciones</a>  |  <a href="#" target="_blank">Otra cosa</a></p>
			</div>
		</div>		
	</div>
</body>
</html>