{% extends "base.html" %}

{% block title %}Lista de trabajadores{% endblock title %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Trabajadores (<small>Total: {{ workers.all.count }}</small>)</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <!--<a href="{% url 'site:send_mail_all' %}" class="btn btn-sm btn-outline-secondary">Correos masivo</a>-->
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>Ficha</th>
          <th>Trabajador</th>
          <th>RFC</th>
          <th>Email</th>
          <th>Status</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
      {% for worker_obj in workers %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ worker_obj.key_code }}</td>
          <td><a href="{{ worker_obj.get_absolute_url }}">{{ worker_obj.full_name }}</a></td>
          <td>{{ worker_obj.rfc }}</td>
          <td>{{ worker_obj.email_cln }}</td>
          <td>{{ worker_obj.get_status_display }}</td>
          <td><a href="#">Enviar correo</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
  
</main>
{% endblock content %}